In [1]:
%pip install pandas
%pip install numpy

Looking in indexes: https://pypi.ni.systems
Requirement already satisfied: pandas in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Looking in indexes: https://pypi.ni.systems
Requirement already satisfied: numpy in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (1.21.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
books = pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding='latin-1')

c:\Users\ajjain\AppData\Local\anaconda3\envs\recommendationsystem\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\ajjain\AppData\Local\anaconda3\envs\recommendationsystem\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
books.head()
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
df = pd.DataFrame(books)
df.iloc[10]['Image-URL-L']

'http://images.amazon.com/images/P/0771074670.01.LZZZZZZZ.jpg'

In [6]:
df.shape

(271360, 8)

In [7]:
df = df[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [8]:
books.rename(columns={'Book-Title': 'book_title', 'Book-Author': 'book_author', 'Year-Of-Publication': 'year',
                     'Publisher': 'publisher', 'Image-URL-L': 'image'}, inplace=True)

In [9]:
books.head()

,ISBN,book_title,book_author,year,publisher,Image-URL-S,Image-URL-M,image
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
books = books[['ISBN', 'book_title', 'book_author', 'year', 'publisher', 'image']]

In [11]:
books.head()

,ISBN,book_title,book_author,year,publisher,image
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [12]:
ratings = pd.read_csv('Ratings.csv', sep=",", on_bad_lines='skip', encoding='latin-1')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [13]:
ratings.shape

(1149780, 3)

In [14]:
ratings.rename(columns={'User-ID': 'user_id', 'Book-Rating': 'rating'}, inplace=True)

In [15]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [16]:
ratings.shape

(1149780, 3)

In [17]:
users = pd.read_csv('Users.csv', sep=",", on_bad_lines='skip', encoding='latin-1')
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [18]:
users.rename(columns={'User-ID': 'user_id', 'Location': 'location', 'Age': 'age'}, inplace=True)
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [19]:
users.shape

(278858, 3)

In [20]:
no_of_books_read_by_userid = ratings['user_id'].value_counts() > 200
no_of_books_read_by_userid

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: user_id, Length: 105283, dtype: bool

In [21]:
user_id_greater_than_200 = no_of_books_read_by_userid[no_of_books_read_by_userid].index
user_id_greater_than_200

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [22]:
users_who_rated_morethan_200times = ratings[ratings['user_id'].isin(user_id_greater_than_200)]
users_who_rated_morethan_200times

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [23]:
ratings_with_books = books.merge(users_who_rated_morethan_200times, on='ISBN')
ratings_with_books

,ISBN,book_title,book_author,year,publisher,image,user_id,rating
0,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,3363,0
1,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,174304,0
2,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,177090,0
3,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,11676,10
4,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,94985,0
...,...,...,...,...,...,...,...,...
78792,1865086460,Studying Part Time Without Stress,Teresa De Fazio,2002,"Allen &amp; Unwin Pty., Limited (Australia)",http://images.amazon.com/images/P/1865086460.0...,268030,0
78793,1869500830,Choose to Be Happy: Your Step-By-Step Guide,Wayne Froggatt,1998,Consortium Book Sales &amp; Dist,http://images.amazon.com/images/P/1869500830.0...,268030,0
78794,067975475X,Skinned Alive: Stories,Edmund White,1996,Vintage Books USA,http://images.amazon.com/images/P/067975475X.0...,269566,0
78795,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,Golden Guides from St. Martin's Press,http://images.amazon.com/images/P/1582380805.0...,275970,0
78796,1845170423,Cocktail Classics,David Biggs,2004,Connaught,http://images.amazon.com/images/P/1845170423.0...,275970,7

In [24]:
number_of_ratings_per_book = ratings_with_books.groupby('book_title')['rating'].count().reset_index()
number_of_ratings_per_book

                                              book_title  rating
0       Earth Prayers From around the World: 365 Pray...       3
1       Final Fantasy Anthology: Official Strategy Gu...       3
2       Flight of Fancy: American Heiresses (Zebra Ba...       1
3       Little Comic Shop of Horrors (Give Yourself G...       4
4                                           Mystery Mile       1
...                                                  ...     ...
36077  Ã?Ã?ber die Pflicht zum Ungehorsam gegen den...       3
36078                                    Ã?Ã?lpiraten.       1
36079                   Ã?Ã?rger mit Produkt X. Roman.       1
36080                            Ã?Ã?stlich der Berge.       1
36081                                Ã?Ã?thique en toc       1

[36082 rows x 2 columns]

In [25]:
number_of_ratings_per_book.rename(columns={'rating': 'number_of_ratings'}, inplace=True)
number_of_ratings_per_book

                                              book_title  number_of_ratings
0       Earth Prayers From around the World: 365 Pray...                  3
1       Final Fantasy Anthology: Official Strategy Gu...                  3
2       Flight of Fancy: American Heiresses (Zebra Ba...                  1
3       Little Comic Shop of Horrors (Give Yourself G...                  4
4                                           Mystery Mile                  1
...                                                  ...                ...
36077  Ã?Ã?ber die Pflicht zum Ungehorsam gegen den...                  3
36078                                    Ã?Ã?lpiraten.                  1
36079                   Ã?Ã?rger mit Produkt X. Roman.                  1
36080                            Ã?Ã?stlich der Berge.                  1
36081                                Ã?Ã?thique en toc                  1

[36082 rows x 2 columns]

In [26]:
final_books = number_of_ratings_per_book.merge(ratings_with_books, on='book_title')
final_books

,book_title,number_of_ratings,ISBN,book_author,year,publisher,image,user_id,rating
0,Earth Prayers From around the World: 365 Pray...,3,006250746X,Elizabeth Roberts,1991,HarperSanFrancisco,http://images.amazon.com/images/P/006250746X.0...,26544,9
1,Earth Prayers From around the World: 365 Pray...,3,006250746X,Elizabeth Roberts,1991,HarperSanFrancisco,http://images.amazon.com/images/P/006250746X.0...,179744,6
2,Earth Prayers From around the World: 365 Pray...,3,006250746X,Elizabeth Roberts,1991,HarperSanFrancisco,http://images.amazon.com/images/P/006250746X.0...,205980,10
3,Final Fantasy Anthology: Official Strategy Gu...,3,1566869250,David Cassady,1999,BradyGames,http://images.amazon.com/images/P/1566869250.0...,23768,0
4,Final Fantasy Anthology: Official Strategy Gu...,3,1566869250,David Cassady,1999,BradyGames,http://images.amazon.com/images/P/1566869250.0...,28523,0
...,...,...,...,...,...,...,...,...,...
78792,Ã?Ã?ber die Pflicht zum Ungehorsam gegen den...,3,3257700512,Henry David Thoreau,1996,Diogenes,http://images.amazon.com/images/P/3257700512.0...,173632,0
78793,Ã?Ã?lpiraten.,1,3499232499,Janwillem van de Wetering,2002,Rowohlt Tb.,http://images.amazon.com/images/P/3499232499.0...,11676,0
78794,Ã?Ã?rger mit Produkt X. Roman.,1,325721538X,Joan Aiken,1987,Diogenes Verlag,http://images.amazon.com/images/P/325721538X.0...,133567,8
78795,Ã?Ã?stlich der Berge.,1,3442725739,David Guterson,2000,btb,http://images.amazon.com/images/P/3442725739.0...,261105,0
78796,Ã?Ã?thique en toc,1,2842192508,Didier Daeninckx,1998,Baleine,http://images.amazon.com/images/P/2842192508.0...,53628,0

In [27]:
final_books.shape

(78797, 9)

In [28]:
final_books = final_books[final_books['number_of_ratings'] >= 50]
final_books.shape

(5886, 9)

In [29]:
final_books

,book_title,number_of_ratings,ISBN,book_author,year,publisher,image,user_id,rating
819,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,7346,0
820,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,11601,0
821,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,11676,0
822,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,12538,0
823,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,16795,10
...,...,...,...,...,...,...,...,...,...
76402,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,234828,0
76403,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,236757,0
76404,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,245963,0
76405,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,246311,0
76406,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,253556,0

In [30]:
final_books.drop_duplicates(subset=['user_id', 'book_title'], inplace=True)
final_books.shape

c:\Users\ajjain\AppData\Local\anaconda3\envs\recommendationsystem\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(5852, 9)

In [31]:
final_books

,book_title,number_of_ratings,ISBN,book_author,year,publisher,image,user_id,rating
819,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,7346,0
820,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,11601,0
821,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,11676,0
822,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,12538,0
823,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,16795,10
...,...,...,...,...,...,...,...,...,...
76402,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,234828,0
76403,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,236757,0
76404,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,245963,0
76405,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,246311,0
76406,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,253556,0

In [32]:
final_books.isnull().sum()

book_title           0
number_of_ratings    0
ISBN                 0
book_author          0
year                 0
publisher            0
image                0
user_id              0
rating               0
dtype: int64

In [33]:
book_pivot = final_books.pivot_table(index='book_title', columns='user_id', values='rating')

In [34]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Fine Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
A Painted House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
A Patchwork Planet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
A Widow for One Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Turtle Moon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
"Welcome to the World, Baby Girl!",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What Looks Like Crazy On An Ordinary Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What to Expect When You're Expecting (Revised Edition),NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
book_pivot.fillna(0, inplace=True)

In [36]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Fine Balance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Patchwork Planet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Widow for One Year,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Turtle Moon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Welcome to the World, Baby Girl!",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What Looks Like Crazy On An Ordinary Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What to Expect When You're Expecting (Revised Edition),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
%pip install scipy

Looking in indexes: https://pypi.ni.systemsNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from scipy) (1.21.6)

In [38]:
from scipy.sparse import csr_matrix

book_sparse_matrix = csr_matrix(book_pivot)
book_sparse_matrix

<70x810 sparse matrix of type '<class 'numpy.float64'>'
	with 1478 stored elements in Compressed Sparse Row format>

In [39]:
type(book_sparse_matrix)

scipy.sparse.csr.csr_matrix

In [40]:
%pip install scikit-learn

Looking in indexes: https://pypi.ni.systems
Requirement already satisfied: scikit-learn in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\ajjain\appdata\local\anaconda3\envs\recommendationsystem\lib\site-packages (from scikit-learn) (1.3.2)
Note: you may need to restart the kernel to use updated packages.

In [44]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [45]:
model.fit(book_sparse_matrix)

NearestNeighbors(algorithm='brute')

In [48]:
book_pivot.shape

(70, 810)

In [49]:
book_pivot.iloc[69:]

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
What to Expect When You're Expecting (Revised Edition),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
distance, suggestions = model.kneighbors(book_pivot.iloc[69, :].values.reshape(1, -1), n_neighbors=6)

In [51]:
distance

array([[ 0.        , 38.57460304, 40.21193853, 42.17819342, 42.40283009,
        42.41462012]])

In [52]:
suggestions

array([[69, 63,  3, 56,  4, 19]], dtype=int64)

In [94]:
suggested_book_names = []
for i in suggestions:
    suggested_book_names.append(book_pivot.index[i])

suggested_book_names

[Index(['What to Expect When You're Expecting (Revised Edition)', 'The Reef',
        'A Patchwork Planet', 'The Kiss', 'A Widow for One Year',
        'Degree of Guilt'],
       dtype='object', name='book_title')]

In [73]:
final_books

,book_title,number_of_ratings,ISBN,book_author,year,publisher,image,user_id,rating
819,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,7346,0
820,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,11601,0
821,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,11676,0
822,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,12538,0
823,"A Child Called \It\"": One Child's Courage to S...",85,1558743669,Dave Pelzer,1995,Health Communications,http://images.amazon.com/images/P/1558743669.0...,16795,10
...,...,...,...,...,...,...,...,...,...
76402,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,234828,0
76403,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,236757,0
76404,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,245963,0
76405,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,246311,0
76406,What to Expect When You're Expecting (Revised ...,59,089480829X,Arlene Eisenberg,1996,Workman Pub Co,http://images.amazon.com/images/P/089480829X.0...,253556,0

In [106]:
books_names = book_pivot.index

In [107]:
books_names

Index(['A Child Called \It\": One Child's Courage to Survive"',
       'A Fine Balance', 'A Painted House', 'A Patchwork Planet',
       'A Widow for One Year', 'All I Really Need to Know',
       'Angela's Ashes: A Memoir',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'At Home in Mitford (The Mitford Years)', 'Atonement : A Novel',
       'Bag of Bones', 'Breath, Eyes, Memory', 'Breathing Lessons',
       'Bridget Jones's Diary', 'Call of the Wild',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       'Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))',
       'Chocolat', 'Cry Wolf', 'Degree of Guilt', 'Dreamcatcher',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fingersmith',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       'Full Tilt (Janet Evanovich's Full Series)', 'Girl in Hyacinth Blue',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))',
       'Hideaway', 'High Fidelity', 'Hornet's Nest', 'How to Be Good',
       'Key of Light (Key Trilogy (Paperback))',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Night Sins', 'One True Thing',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Purity in Death', 'Red Storm Rising', 'Rising Tides',
       'STONES FROM THE RIVER', 'Snow Falling on Cedars',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'That Camden Summer', 'The Bridges of Madison County',
       'The Celestine Prophecy (Celestine Prophecy)',
       'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color of Water: A Black Man's Tribute to His White Mother',
       'The Crimson Petal and the White', 'The Devil Wears Prada : A Novel',
       'The Firm', 'The Girls' Guide to Hunting and Fishing',
       'The Hundred Secret Senses', 'The Kiss', 'The Kitchen God's Wife',
       'The Lost Boy: A Foster Child's Search for the Love of a Family',
       'The Lost World',
       'The No. 1 Ladies' Detective Agency (Today Show Book Club #8)',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Rainmaker', 'The Reef', 'The Stone Diaries',
       'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
       'Turtle Moon', 'Welcome to the World, Baby Girl!',
       'What Looks Like Crazy On An Ordinary Day',
       'What to Expect When You're Expecting (Revised Edition)'],
      dtype='object', name='book_title')

In [83]:
type(books_names)

pandas.core.indexes.base.Index

In [118]:
books_names[50]

"The Color of Water: A Black Man's Tribute to His White Mother"

In [82]:
suggested_book_names[0]

Index(['What to Expect When You're Expecting (Revised Edition)', 'The Reef',
       'A Patchwork Planet', 'The Kiss', 'A Widow for One Year',
       'Degree of Guilt'],
      dtype='object', name='book_title')

In [81]:
type(suggested_book_names[0])

pandas.core.indexes.base.Index

In [90]:
np.where(final_books['book_title'] == books_names[5])[0][0]

459

In [64]:
index_ids = []
for i in suggested_book_names[0]:
    ids = np.where(final_books['book_title'] == i)[0][0]
    index_ids.append(ids)

index_ids

[5793, 5333, 352, 4613, 408, 1534]

In [93]:
type(index_ids)
index_ids[0]

5793

In [91]:
suggested_book_links = []
for i in index_ids:
    suggested_book_links.append(final_books.iloc[i]['image'])

In [98]:
all_links_with_names = pd.DataFrame({'book_name': suggested_book_names[0], 'book_link': suggested_book_links})

all_links_with_names

,book_name,book_link
0,What to Expect When You're Expecting (Revised ...,http://images.amazon.com/images/P/089480829X.0...
1,The Reef,http://images.amazon.com/images/P/051512608X.0...
2,A Patchwork Planet,http://images.amazon.com/images/P/080411918X.0...
3,The Kiss,http://images.amazon.com/images/P/067944999X.0...
4,A Widow for One Year,http://images.amazon.com/images/P/037540290X.0...
5,Degree of Guilt,http://images.amazon.com/images/P/034538184X.0...

In [99]:
suggested_book_links

['http://images.amazon.com/images/P/089480829X.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/051512608X.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/080411918X.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/067944999X.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/037540290X.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/034538184X.01.LZZZZZZZ.jpg']

In [100]:
import pickle
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl', 'wb'))
pickle.dump('final_books', open('artifacts/final_books.pkl', 'wb'))
pickle.dump('books_names', open('artifacts/books_names.pkl', 'wb'))

In [113]:
### Testing the model

def recommend_books(book_name):
    index = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestions = model.kneighbors(book_pivot.iloc[index, :].values.reshape(1, -1), n_neighbors=6)

    books = book_pivot.index[suggestions[0]]
    for j in books:
        if(j == book_name):
            print(f"You searched '{book_name}'\n")
            print("Here are some similar books you might like:\n")
        else:
            print(j)

In [119]:
book_name = "The Color of Water: A Black Man's Tribute to His White Mother"
recommend_books(book_name)

You searched 'The Color of Water: A Black Man's Tribute to His White Mother'

Here are some similar books you might like:

The Reef
A Patchwork Planet
The Kiss
Cry Wolf
The Clinic (Alex Delaware Novels (Paperback))